body#body {
	margin: 25px 200px 5px;
}

div#header {
	text-align: center;
}

div#outputBody {
	overflow: auto;
	min-height: 350px;
}

div#inputBody {
	display: block;
}

textarea.code {
	wrap: off;
	resize: none;
	width: 89%;
	overflow: auto;
}

textarea.conversionCode  {
	wrap: off;
	resize: none;
	width: 100%;
	overflow: auto;
	height: 100px;
}
textarea#text_conversions {
	wrap: off;
	resize: none;
	width: 100%;
	overflow: auto;
	overflow-x: auto;
	height: 450px;
}

button#buttonSubmit {
   height: 50px; 
	width: 10%;
	margin-bottom: 10px;
}

div#well_conversions {
	overflow-x: auto;
	overflow: auto;
	max-height: 600px;
}

div#conversionsBody {
	margin-bottom: 10px;
}

#revertConversions {
	cursor: pointer;
}

.conversionsOps {
	float: right;
}

.labelInput {
	cursor: pointer;
	margin-bottom: 5px;
}

.labelOutput {
	margin-bottom: 5px;
}

.paginated-list-ul li:nth-child(even) {
	background-color: #F5F5F5;
}

.paginated-list-ul li:nth-child(odd) {
	background-color: #FFFFFF;
}

.pagination-box {
	margin-top: 10px;
	margin-bottom: 10px;
}

.paginated-list {
	display: inline;
}

.paginated-list ul {
	list-style-type: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	display: inline;
}

.paginated-list li {
	border: solid 1px #CCCCCC;
	background-color: #FFFFFF;
	color: #2F4F4F;
	padding: 9px;
	display: inline;
	text-align: center;
	cursor: move;
}

.list-controls-left {
	cursor: pointer;
	margin-left: 10px;
	margin-bottom: 5px;
	display: inline;
}

.list-controls-right {
	cursor: pointer;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline;
}

.dropdown-span {
	color: #08C;
	cursor: pointer;
	border-radius: 4px;
	padding-left: 5px;
	float: right;
}

.dropdown-span:after {
	font-family: Consolas, Courier New, Arial, sans-serif;
	content: '↓';
	margin-left: 6px;
	color: #08C;
}

.dropdown-span:hover {
	background: #F2F2F2;
}

.dropdown-span.dropdown-open {
	background: #888;
	color: #FFF;
}

.dropdown-span.dropdown-open:after {
	color: #FFF;
}

A {
	color: #08C;
}

A:hover {
	color: #0CF;
}


/*
 * LOADER FOR AJAX
 */
#loaderG {
	width:60px;
	float: right;
	margin-bottom: 5px;
	margin-right: 15px;
}

.loader_blockG {
	background-color:#FFFFFF;
	border:1px solid #3874BD;
	float:left;
	height:44px;
	margin-left:3px;
	width:12px;
	-webkit-animation-name:bounceG;
	-webkit-animation-duration:0.7s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-transform:scale(0.7);
	-moz-animation-name:bounceG;
	-moz-animation-duration:0.7s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-transform:scale(0.7);
	-o-animation-name:bounceG;
	-o-animation-duration:0.7s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-transform:scale(0.7);
	-ms-animation-name:bounceG;
	-ms-animation-duration:0.7s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-transform:scale(0.7);
	opacity:0.1;
}

#blockG_1 {
	-webkit-animation-delay:0.20999999999999996s;
	-moz-animation-delay:0.20999999999999996s;
	-o-animation-delay:0.20999999999999996s;
	-ms-animation-delay:0.20999999999999996s;
}

#blockG_2{
	-webkit-animation-delay:0.27999999999999997s;
	-moz-animation-delay:0.27999999999999997s;
	-o-animation-delay:0.27999999999999997s;
	-ms-animation-delay:0.27999999999999997s;
}

#blockG_3{
	-webkit-animation-delay:0.35s;
	-moz-animation-delay:0.35s;
	-o-animation-delay:0.35s;
	-ms-animation-delay:0.35s;
}

@-webkit-keyframes bounceG {
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}


















.inplace, input {
	margin: 0px;
	padding-left: 1px;
	background-color: #ffffcc;
}

.inplace {
	position: absolute;
	visibility: hidden;
	z-index: 10000;
}
