body#body {
	margin: 25px 200px 5px;
}

div#header {
	text-align: center;
}

div#outputBody {
	overflow: auto;
	min-height: 350px;
}

div#inputBody {
	display: block;
}

textarea#code {
	wrap: off;
	resize: none;
	width: 89%;
	overflow: auto;
}

button#buttonSubmit {
   height: 50px; 
	width: 10%;
	margin-bottom: 10px;
}

.labelInput {
	cursor: pointer;
	margin-bottom: 5px;
}

.labelOutput {
	margin-bottom: 5px;
}
